<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SPRING | GB SMART</title>
    
          <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/assets/css/theme.min.css" />
        <link rel="stylesheet"  href="/public/assets/css/color-defaults.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-beige-black.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-black-beige.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-black-white.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-black-yellow.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-blue-white.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-green-white.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-red-white.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-white-black.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-white-blue.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-white-green.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-white-red.min.css" />
        <link rel="stylesheet" href="/public/assets/css/swatch-yellow-black.min.css" />
        <link rel="stylesheet" href="/public/assets/css/fonts.min.css" />
    </head>
    <body>
        <header id="masthead" class="navbar navbar-sticky swatch-red-white" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="" class="navbar-brand">
                      <!--   <img src="public/assets/images/logo.png" alt="One of the best themes ever">--> Gestion Emploi
                    </a>
                </div>
                <nav class="collapse navbar-collapse main-navbar" role="navigation">
                    <div class="sidebar-widget widget_search pull-right">
                        <form>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search here....">
                                <span class="input-group-btn">
                            <button class="btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown ">
                            <a th:href="@{/Offre/liste}">Offres</a>
                            
                        </li>
                         <li class="dropdown ">
                            <a th:href="@{/Cv/liste}">Cv</a>
                            
                        </li>
                        <li class="dropdown ">
                            <a th:href="@{/Postule/liste}">Postulez</a>
                            
                        </li>
                       
                       
                         <li class="">
                        
                            <a th:href="@{/logout}">Deconnexion</a>
                        
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
         <section class="section swatch-red-white">
                <div class="container">
                    <div class="row">
                        <div id="slider-flex3" class="flexslider text-left" data-flex-speed="7000" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions="show" data-flex-controlsalign="center" data-flex-captionhorizontal="alternate" data-flex-captionvertical="bottom"
                        data-flex-controlsposition="" data-flex-directions-type="">
                            <ul class="slides">
                                <li>
                                    <figure>
                                        <img src="/public/assets/images/design/vector/slide-1.png" alt="some image">
                                        <figcaption>
                                            <h3>Gestion Emploi</h3>
                                            <p>Cherchez et trouvez un job, une mission ou un stage avec Senjob, le portail de l'emploi sur internet au Sénégal et en Afrique de l'ouest.</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/public/assets/images/design/vector/slide-2.png" alt="some image">
                                        <figcaption>
                                            <h3>EMPLOI ,STAGE</h3>
                                            <p>Consultez toutes nos offres d'emploi pour Dakar, Sénégal au Sénégal </p>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section swatch-white-red has-top has-bottom">
                <div class="decor-top">
                    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-5 100 Q 0 20 5 100 Z M0 100 Q 5 0 10 100 M5 100 Q 10 30 15 100 M10 100 Q 15 10 20 100 M15 100 Q 20 30 25 100 M20 100 Q 25 -10 30 100 M25 100 Q 30 10 35 100 M30 100 Q 35 30 40 100 M35 100 Q 40 10 45 100 M40 100 Q 45 50 50 100 M45 100 Q 50 20 55 100 M50 100 Q 55 40 60 100 M55 100 Q 60 60 65 100 M60 100 Q 65 50 70 100 M65 100 Q 70 20 75 100 M70 100 Q 75 45 80 100 M75 100 Q 80 30 85 100 M80 100 Q 85 20 90 100 M85 100 Q 90 50 95 100 M90 100 Q 95 25 100 100 M95 100 Q 100 15 105 100 Z"
                        stroke-width="0"></path>
                    </svg>
                </div>
                <div class="container">
                    <header class="section-header underline">
                        <h1 class="headline super hairline">Why work with us?</h1>
                        <p class="">He&#x27;s the exact opposite of the hero. And most times they&#x27;re friends, like you and me! I should&#x27;ve known way back when... You know why, David? Because of the kids. They called me Mr Glass.</p>
                    </header>
                    <div class="row" style="margin-top:150px;">
                        <ul class="list-unstyled row box-list ">
                            <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
                                <div class="box-round box-medium">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner " href="single-service.html">
                                        <i class="fa fa-android" data-animation="bounce"></i>
                                    </a>
                                </div>
                                <h3 class="text-center ">
    
        <a href="single-service.html">
    
        Mobile Ready
    
        </a>
    
</h3>
                                <p class="text-center">Your bones don&#x27;t break, mine do. That&#x27;s clear. Your cells react to bacteria and viruses differently than mine.</p>
                            </li>
                            <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
                                <div class="box-round box-medium">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner " href="single-service.html">
                                        <i class="fa fa-html5" data-animation="swing"></i>
                                    </a>
                                </div>
                                <h3 class="text-center ">
    
        <a href="single-service.html">
    
        HTML5 valid
    
        </a>
    
</h3>
                                <p class="text-center">Your bones don&#x27;t break, mine do. That&#x27;s clear. Your cells react to bacteria and viruses differently than mine.</p>
                            </li>
                            <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
                                <div class="box-round box-medium">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner " href="single-service.html">
                                        <i class="fa fa-css3" data-animation="shake"></i>
                                    </a>
                                </div>
                                <h3 class="text-center ">
    
        <a href="single-service.html">
    
        CSS3 magic
    
        </a>
    
</h3>
                                <p class="text-center">Your bones don&#x27;t break, mine do. That&#x27;s clear. Your cells react to bacteria and viruses differently than mine.</p>
                            </li>
                            <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
                                <div class="box-round box-medium">
                                    <div class="box-dummy"></div>
                                    <a class="box-inner " href="single-service.html">
                                        <i class="fa fa-heart" data-animation="tada"></i>
                                    </a>
                                </div>
                                <h3 class="text-center ">
    
        <a href="single-service.html">
    
        Amazing design
    
        </a>
    
</h3>
                                <p class="text-center">Your bones don&#x27;t break, mine do. That&#x27;s clear. Your cells react to bacteria and viruses differently than mine.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="decor-bottom">
                    <svg class="decor" height="120px" preserveaspectratio="none" style="height: 120px !important;" version="1.1" viewbox="0 0 100 100" width="240px" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25 0 L50 50 L75 0" stroke-width="0"></path>
                    </svg>
                </div>
            </section>
             <script src="/public/assets/js/packages.min.js"></script>
        <script src="/public/assets/js/theme.min.js"></script>
</body>
</html>